<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="CrossBrowserSuite">
    <test name="Varification of test with chrome">
        <parameter name="browser" value="chrome" />
     <!--  You can Change the Browser as per your Need -->  
        <classes>
            <class name="cross_browser.CrossBrowserTests2" />
        </classes>
    </test>
    
    <test name="Varification of test with edge">
        <parameter name="browser" value="edge" />
     <!--  You can Change the Browser as per your Need -->  
        <classes>
            <class name="cross_browser.CrossBrowserTests2" />
        </classes>
    </test>
    
    <test name="Varification of test with firefox">
        <parameter name="browser" value="firefox" />
     <!--  You can Change the Browser as per your Need -->  
        <classes>
            <class name="cross_browser.CrossBrowserTests2" />
        </classes>
    </test>
</suite>
